.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul li{
  display: inline-block;
  font-size: 40px;
  margin-left: 40px;
}
.linc{
  text-decoration: none;
  color: aqua;
}
.linc:hover{
  background-color: azure;
  color: red;
}

.fieldinput{
 margin: 3px 40%;
 border-radius: 5px;
}
.outer{
  background-color: aqua;
  width: 20%;
  margin-top: 5%;
  padding-right: 130px;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  border-radius: 6px;
  
}

.but{
  text-align: center;
  margin: 6px 70%;
  margin-top: -5px;
  margin-bottom: 6px;
}